<h1 class="text-center font-monospace titleCustomize">Carritos</h1>

<div>
  {{#each carts}}
    <div style="background-color: darkgray; margin: 1rem">
      <p>{{this.id_prod}} </p>
    </div>
  {{/each}}
</div>