body {
  box-sizing: border-box;
  margin: 0 15%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2e313d;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: "Courier New", Courier, monospace;
}
